In [1]:
import pymysql
import re

In [2]:
db = pymysql.connect("127.0.0.1", "root", "", "learnqur_lqtafsir", charset="utf8", init_command='SET NAMES UTF8') # localhost learnqur_lqtafsir
# db = pymysql.connect("45.114.117.33", "learnqur", "N!@t1khl45", "learnqur_lqtafsir", charset="utf8", init_command='SET NAMES UTF8') # dev cpanel

In [3]:
c = db.cursor()

In [31]:
with db.cursor() as c:
    # Read a single record
    # sql = "SELECT `chapter`, `verse`, `tafsir_ibnu_katsir`, `tafsir_ringkas` FROM `quran_id_complete`" # tafsir id
    sql = "SELECT `chapter`, `verse`, `tafsir` FROM `quran_en_complete`" # tafsir en
    # sql = "SELECT `chapter`, `verse`, `translation` FROM `quran_id_complete`" # translation id
    # sql = "SELECT `chapter`, `verse`, `translation` FROM `quran_en_complete`" # translation en
    # sql = "SELECT `chapter`, `verse`, `arabic` FROM `quran_en_complete`" # ayat
    # sql = "SELECT `chapter`, `verse`, `keywords` FROM `quran_id_complete`" # keyword id
    c.execute(sql)
    result = c.fetchall()

### Set to local or develop

In [32]:
db = pymysql.connect("127.0.0.1", "root", "", "learnqur_lqtafsir", charset="utf8", init_command='SET NAMES UTF8') # localhost learnqur_lqtafsir#
# db = pymysql.connect("45.114.117.33", "learnqur", "N!@t1khl45", "learnqur_lqtafsir", charset="utf8", init_command='SET NAMES UTF8') # dev cpanel

In [33]:
c = db.cursor()

In [34]:
result[6235][3] # content

IndexError: tuple index out of range

### tafsir_id

In [35]:
for idx, row in enumerate(result):
    # print(row[0])
    
    row_0 = str(row[0]) # chapter
    row_1 = str(row[1]) # verse
    row_2 = row[2].replace("'", "\\'")
    # row_3 = row[3].replace("'", "\\'")
    query = "INSERT INTO tafsir_id (chapter_id, verse_id, ibnu_katsir) VALUES ('" + row_0 + "', '" + row_1 + "', '" + row_2 + "')"
     
    c.execute(query)

/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:165: Warning: (1364, "Field 'ringkas_kemenag' doesn't have a default value")
  result = self._query(query)
/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:165: Warning: (1364, "Field 'jalalayn' doesn't have a default value")
  result = self._query(query)

### tafsir_en

In [ ]:
for idx, row in enumerate(result):
    # print(row[0])
    
    row_0 = str(row[0]) # chapter
    row_1 = str(row[1]) # verse
    row_2 = row[2].replace("'", "\\'")
    query = "INSERT INTO tafsir_en (chapter_id, verse_id, ibn_kathir) VALUES ('" + row_0 + "', '" + row_1 + "', '" + row_2 + "')"
      
    c.execute(query)

### translation_id

In [ ]:
for idx, row in enumerate(result):
    # print(row[0])
    
    row_0 = str(row[0]) # chapter
    row_1 = str(row[1]) # verse
    row_2 = row[2].replace("'", "\\'")
    
    query = "INSERT INTO translation_id (chapter_id, verse_id, kemenag) VALUES ('" + row_0 + "', '" + row_1 + "', '" + row_2 + "')"
      
    c.execute(query)

### translation_en

In [ ]:
for idx, row in enumerate(result):
    # print(row[0])
    
    row_0 = str(row[0]) # chapter
    row_1 = str(row[1]) # verse
    row_2 = row[2].replace("'", "\\'")
    
    query = "INSERT INTO translation_en (chapter_id, verse_id, saheeh_international) VALUES ('" + row_0 + "', '" + row_1 + "', '" + row_2 + "')"
      
    c.execute(query)

### ayat

In [ ]:
for idx, row in enumerate(result):
    # print(row[0])
    
    row_0 = str(row[0]) # chapter
    row_1 = str(row[1]) # verse
    row_2 = row[2].replace("'", "\\'")
    
    query = "INSERT INTO ayat (chapter_id, verse_id, quran_simple_clean) VALUES ('" + row_0 + "', '" + row_1 + "', '" + row_2 + "')"
      
    c.execute(query)

### keyword

In [ ]:
for idx, row in enumerate(result):
    # print(row[0])
    
    row_0 = str(row[0]) # chapter
    row_1 = str(row[1]) # verse
    row_2 = row[2].replace("'", "\\'")
    
    query = "INSERT INTO keyword_id (chapter_id, verse_id, keyword) VALUES ('" + row_0 + "', '" + row_1 + "', '" + row_2 + "')"
      
    c.execute(query)

In [23]:
db.commit()

In [ ]:
db.close()

### Delete rows

In [7]:
query = "DELETE FROM tafsir_en WHERE id > 0"    
c.execute(query)

6236

In [36]:
db.commit()

In [ ]:
db.close()

<hr/>