In [1]:
import pymysql
import sqlite3

In [2]:
conn = sqlite3.connect("/Users/muhamuttaqien/Downloads/Jalalayn_Idn_OK.db")
c = conn.cursor()

### Count rows and columns

In [4]:
table = "verses_content"
rowsQuery = "SELECT Count() FROM %s" % table
c.execute(rowsQuery)
numberOfRows = c.fetchone()[0]
numberOfRows

6236

In [5]:
columnsQuery = "PRAGMA table_info(%s)" % table
c.execute(columnsQuery)
numberOfColumns = len(c.fetchall())
numberOfColumns

4

### Connect to DB

In [6]:
db = pymysql.connect("127.0.0.1", "root", "", "learnqur_lqtafsir") # localhost
# db = pymysql.connect("45.114.117.33", "learnqur", "N!@t1khl45", "learnqur_lqtafsir") # dev cpanel

In [7]:
cursor = db.cursor()

### Set tafseer into DB

In [11]:
for idx, row in enumerate(c.execute('SELECT c2text FROM verses_content')):
    print(idx+1)
    
    row_no_apostrophe = row[0].replace("‘", "\\'")
    row_no_apostrophe = row_no_apostrophe.replace("’", "\\'")
    row_no_apostrophe = row_no_apostrophe.replace("“", '\\"')
    row_no_apostrophe = row_no_apostrophe.replace("”", '\\"')

    print(row_no_apostrophe)

    query = "UPDATE tafsir_id SET jalalayn ='" + row_no_apostrophe + "' WHERE id = " + str(idx+1)
    # print(query)
        
    cursor.execute(query)

1
Al-Fatihah (Pembukaan)

(Dengan nama Allah Yang Maha Pemurah lagi Maha Penyayang)
2
(Segala puji bagi Allah) Lafal ayat ini merupakan kalimat berita, dimaksud sebagai ungkapan pujian kepada Allah berikut pengertian yang terkandung di dalamnya, yaitu bahwa Allah Taala adalah yang memiliki semua pujian yang diungkapkan oleh semua hamba-Nya. Atau makna yang dimaksud ialah bahwa Allah Taala itu adalah Zat yang harus mereka puji. Lafal Allah merupakan nama bagi Zat yang berhak untuk disembah. (Tuhan semesta alam) artinya Allah adalah yang memiliki pujian semua makhluk-Nya, yaitu terdiri dari manusia, jin, malaikat, hewan-hewan melata dan lain-lainnya. Masing-masing mereka disebut alam. Oleh karenanya ada alam manusia, alam jin dan lain sebagainya. Lafal 'al-`aalamiin' merupakan bentuk jamak dari lafal '`aalam', yaitu dengan memakai huruf ya dan huruf nun untuk menekankan makhluk berakal/berilmu atas yang lainnya. Kata 'aalam berasal dari kata `alaamah (tanda) mengingat ia adalah tanda bagi adanya yang menciptakannya.

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'al-`aalamiin' merupakan bentuk jamak dari lafal '`aalam', yaitu dengan memakai h' at line 1")