In [1]:
import pymysql
import sqlite3

In [2]:
conn = sqlite3.connect("/Users/muhamuttaqien/Documents/workspace/learnquran-tafsir-web/lqtafsir-server/app/resource/IbnKathirTafsirs-tagged-parented.db3")
c = conn.cursor()

### Count rows and columns

In [3]:
table = "tafsir_id_content"
rowsQuery = "SELECT Count() FROM %s" % table
c.execute(rowsQuery)
numberOfRows = c.fetchone()[0]
numberOfRows

6236

In [4]:
columnsQuery = "PRAGMA table_info(%s)" % table
c.execute(columnsQuery)
numberOfColumns = len(c.fetchall())
numberOfColumns

5

### Connect to DB

In [11]:
# db = pymysql.connect("127.0.0.1", "root", "", "learnqur_lqtafsir") # localhost
db = pymysql.connect("45.114.117.33", "learnqur", "N!@t1khl455555", "learnqur_lqtafsir") # dev cpanel

OperationalError: (1045, "Access denied for user 'learnqur'@'110.138.47.244' (using password: YES)")

In [6]:
cursor = db.cursor()

### Reset all keywords

In [ ]:
for idx, row in enumerate(c.execute('SELECT keywords FROM tafsir_id_content')):
    query = "UPDATE quran_id_complete SET keywords ='""' WHERE id = " + str(idx+1)
    cursor.execute(query)

### Set keywords into DB

In [7]:
row = "pasar"
idx = 1

In [8]:
text = "Saya pergi ke" + row + "jam " + str(idx)

In [9]:
text

'Saya pergi kepasarjam 1'

In [10]:
row = "Keingkaran dan kedurhakaan orang kafir 3, Kufur 2, Hal-hal yang merusak iman 1, Para nabi memiliki sifat-sifat manusia lainnya 3, Kekhususan para nabi 2, Nabi-nabi 1, Pendustaan Quraisy terhadap Nabi saw. 3, Penghinaan kaum Quraisy 2, Sejarah di Mekah 1, Kaum Quraisy meminta mukjizat 3, Penghinaan kaum Quraisy 2, Sejarah di Mekah 1, Sabda Rasul saw. Aku ini hanya seorang manusia biasa 4, Kerendah-hatian Nabi saw. 3, Akhlak Nabi saw. 2, Sifat-sifat nabi Muhammad saw. 1, Ayat yang berhubungan dengan Abu Jahal 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan Abu Sufyan 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan Umayyah bin Khalaf 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan Syaibah bin Rabi'ah 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan Abdullah bin Umayah 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan 'Utbah bin Abi Rabi'ah 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan An Nadhr bin Al Harits 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan Al Walid bin Al Mughirah 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Tasbih sebagai tanda kesucian Allah 4, Tasbih 3, Klasifikasi zikir 2, Zikir 1, Tasbih ketika takjub 4, Tasbih 3, Klasifikasi zikir 2, Zikir 1"

In [11]:
row_no_apostrophe = row.replace("'", "\\'")
query = "UPDATE quran_id_complete SET keywords ='" + row_no_apostrophe + "' WHERE id = 2122"
cursor.execute(query)

1

In [12]:
for idx, row in enumerate(c.execute('SELECT keywords FROM tafsir_id_content')):
    if ((idx+1) == 2122):
        row = "Keingkaran dan kedurhakaan orang kafir 3, Kufur 2, Hal-hal yang merusak iman 1, Para nabi memiliki sifat-sifat manusia lainnya 3, Kekhususan para nabi 2, Nabi-nabi 1, Pendustaan Quraisy terhadap Nabi saw. 3, Penghinaan kaum Quraisy 2, Sejarah di Mekah 1, Kaum Quraisy meminta mukjizat 3, Penghinaan kaum Quraisy 2, Sejarah di Mekah 1, Sabda Rasul saw. Aku ini hanya seorang manusia biasa 4, Kerendah-hatian Nabi saw. 3, Akhlak Nabi saw. 2, Sifat-sifat nabi Muhammad saw. 1, Ayat yang berhubungan dengan Abu Jahal 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan Abu Sufyan 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan Umayyah bin Khalaf 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan Syaibah bin Rabi'ah 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan Abdullah bin Umayah 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan 'Utbah bin Abi Rabi'ah 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan An Nadhr bin Al Harits 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Ayat yang berhubungan dengan Al Walid bin Al Mughirah 3, Beberapa orang yang menjadi sebab turunnya ayat Al Qur'an 2, Turunnya Al Qur'an 1, Tasbih sebagai tanda kesucian Allah 4, Tasbih 3, Klasifikasi zikir 2, Zikir 1, Tasbih ketika takjub 4, Tasbih 3, Klasifikasi zikir 2, Zikir 1"
        row_no_apostrophe = row.replace("'", "\\'")
    else:
        row_no_apostrophe = row[0].replace("'", "\\'")
    
    query = "UPDATE quran_id_complete SET keywords ='" + row_no_apostrophe + "' WHERE id = " + str(idx+1)
    cursor.execute(query)

In [ ]:
db.commit()

In [ ]:
db.close()